streamlit
python-dotenv
requests
langchain
langchain-community
langchain-text-splitters
langchain-google-genai
langgraph
langgraph-checkpoint-sqlite
langgraph-prebuilt
langchain-ollama
faiss-cpu
pypdf
ddgs

langchain-mcp-adapters   
aiosqlite                
langchain-openai        
openai
sqlite-vec 